@import "../../utils/variables.scss";

.main {
  background-color: #fff;
  padding: 40px 35px;
  border-radius: 15px;
  display: grid;
  width: 100%;
  gap: 25px;
  font-weight: 700;
  box-sizing: border-box;
  max-width: 700px;
  @media (min-width: 999px) {
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
  }
  &__headline {
    color: #576B6C;
    margin-bottom: 5px;
    font-size: 16px;
    &_color_invert {
      color: #fff;
    }
  }
}

.calc {
  padding: 8px;
  display: flex;
  flex-direction: column;
  &__container {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__radio {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
  }
}

.total {
  padding: 30px;
  background-color: $darkGreen;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__heading {
    grid-area: heading;
    margin: 0;
  }
  &__subtitle {
    color: #729BA1;
    font-size: 14px;
    grid-area: subheading;
  }
  &__container {
    display: grid;
    grid-template-areas: 
    "heading total"
    "subheading total";
    margin-bottom: 25px;
  }
  &__sum {
    grid-area: total;
    text-align: right;
    vertical-align: middle;
    font-size: 30px;
    color: $lightGreen;
  }
  &__reset {
    padding: 10px;
    font-weight: bold;
    background-color: $lightGreen;
    color: $darkGreen;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

